@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  width: 20px;
  height: 20px;
  
}
.padding-blog-p {
  padding:1%;
}
.sidebar-list{
  display: flex;
}

.color{
  color:#367588;
}

.hr:before {
  
    content: "";
    display:block ;
    width : 425px;
    height:2px;
    background: #367588;
    position: absolute;
    left: 3%;
    margin-top:2rem;
    z-index: -2;
    
}
.hr:after{
  content: "";
  display:block;
  width: 425px;
  height:2px;
  background: #367588;
  position: absolute;
  right: 3%;
  margin-top:-13px;
  z-index: -2;
  }
.iconImg{
  margin-left: 15%;
  padding-top: 7%;
  width: 8rem;
 
}
.drop{
  width: 20rem;

}

.text-area{
  margin-right: 4%;
}

.discuss_form_a{
  display: flex !important;
}

.side-nav-bar {
   background-color: #DEE7EA ;
   width: 300px;
   height: 117vh;
   position: relative;
   color: rgb(red, green, blue);
   }
.contact-us{
  display: flex;
  justify-content: center;
  padding-bottom: 1% ;
}
.flex {
display: flex;
}
section {
  @apply mb-28;
}

.active-link {
  color: #5b8b9b;
}

.header {
  @apply flex flex-col py-2 justify-between;
}

.hero {
  @apply container px-5 flex flex-col mx-auto;
}

.portofolio-card:hover .img-hover {
  @apply opacity-25;
}

.discuss_container{
  display:flex;
}

.preline{
  white-space: pre-line;
}

@media (min-width: 1024px) {
  .header {
    @apply container w-full flex-row py-3 px-5 mt-1  mx-auto items-center content-center border-b border-gray-100;
  }

  .hero {
    @apply container flex-row mx-auto mt-8;
  }
}

@media only screen and (max-width: 768px){
    .discuss_container{
      flex-direction: column-reverse;
    }
    .side-nav-bar {
      margin-left: 7%;
      margin-top: 5%;
      width: 90%;
      height: 20%;
      padding-bottom: 1%;
      padding-top: 1%;
    }
    .discuss_form_a{
      justify-content: center;
    }
    .responsive-links{
      margin-right: 12%;
    }
    .drop{
      margin-left: 21%;
    }
    .text-area{
      margin-top: 16%;
      margin-right: 28%;
    }
    .drop-right{
     
    }
    .responsive-footer{
      margin-left: 0 !important;
    }
    .hr:before{
      width: 90px;
    }
    .hr:after{
      width: 90px;
    }
    .responsive-portfolioMarketing{
      width: 390px !important;
      justify-content: center;
    }
    .responsive-digitalMarketing{
      flex-direction: column !important;
    }
    .responsive-img2-digitalMarketing{
      margin-top: 5%;
    }
    .responsive-webtechnologies{
      flex-direction: column !important;
    }
    .responsive-webtechnologies-marginCards{
      margin-top: 4%;
    }
    .drop{
      margin: 0;
    }
    .responsive-mobileDiscussForm{
      margin-left: 6%;
    }
}