.dropbtn {
    background-color: #367588;
    color: white;
    padding: 18.5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left:2rem;
    width: 15.5rem;
    border-radius: 0.25rem;

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    max-width: 10px;
    width: 11rem;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left : 2rem;
  }
  
  .dropdown-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content span:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .dropdown:hover .dropbtn {
    background-color: #5b8b9b;
  }

  #GoBackBtn:hover{
    cursor: pointer;
  }